@{
    Layout = "~/Views/Shared/_LayoutTonaUser.cshtml";
}
<section>
    <div class="row">
        <div class="col-xs-0 col-md-2"></div>
        <div id="column" class="col-xs-12 col-md-8">
            <h1>Productos</h1>

            <p class="text-right"><a href="~/Views/Admin/AddProduct.cshtml" type="button" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Producto</a></p>
            <tbody>
                <table class="table table-striped">
                    <tr>
                        <th style="text-align: left; vertical-align: middle; width: 20%;">Imagen</th>
                        <th style="text-align: left; vertical-align: middle; width: 50%;">Descripción</th>
                        <th style="text-align: left; vertical-align: middle; width: 30%;">Acciones</th>
                    </tr>
                    <tr>
                        <td><img id="imgMin" src="~/Image/tona.jpg" class="img-rounded"></td>
                        <td>
                            <input type="text" class="form-control" placeholder="Descripción">
                        </td>
                        <td>
                            <button type="button" class="btn btn-link">
                                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                Editar
                            </button>
                            <button type="button" class="btn btn-link">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                Borrar
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td><img id="imgMin" src="~/Image/tona1.jpg" class="img-rounded"></td>
                        <td>
                            <input type="text" class="form-control" placeholder="Descripción">
                        </td>
                        <td>
                            <button type="button" class="btn btn-link">
                                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                Editar
                            </button>
                            <button type="button" class="btn btn-link">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                Borrar
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td><img id="imgMin" src="~/Image/tona2.jpg" class="img-rounded"></td>
                        <td>
                            <input type="text" class="form-control" placeholder="Descripción">
                        </td>
                        <td>
                            <button type="button" class="btn btn-link">
                                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                Editar
                            </button>
                            <button type="button" class="btn btn-link">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                Borrar
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td><img id="imgMin" src="~/Image/tona.jpg" class="img-rounded"></td>
                        <td>
                            <input type="text" class="form-control" placeholder="Descripción">
                        </td>
                        <td>
                            <button type="button" class="btn btn-link">
                                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                Editar
                            </button>
                            <button type="button" class="btn btn-link">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                Borrar
                            </button>
                        </td>
                    </tr>

                </table>
            </tbody>
        </div>
    </div>
</section>

