#txtfooter{/*Texto footer sta...*/
    color: white;      
}
.navbar{ 
    padding: 10px;
}
#nav{/* navbar superior*/
    margin: 0%;
	border-radius: 0px;
	padding: 10px;
}
#navInf{
	padding: 10px;
}
#img { /*img maniqui TONA*/
	width: 14px;
	height: 30px;
	display: inline-block;
	position: absolute;
	left: 144px;
	top: 23px;
}
#TONA{ /* style titulo TONA*/
	color: #FFF;
	font-family: Ebrima,sans-serif;
	font-size: 3em;
}
#btn{ /* Padding btn producto y contacto*/
    padding-left: 10px;
}
#txtbtn{ /*Style botones producto y contacto*/
    color: #FFF;
    font-size: 18px;
    font-family: Ebrima,sans-serif;
}

.footer{
	position: fixed;
	bottom: 0%; 
	width: 100%;
	}
	
.carousel-indicators{
	top: 85%;
}
.btn-ttc,
.btn-ttc:hover,
.btn-ttc:active {
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: black;
}
#imgMin{
    width:200px;
    height: 136px;
}
#row{
	margin: 0%;
	padding-top: 5%;
	padding-bottom: 9%;
	}
body,html{
height: 100%;
width: 100%;
background: #ffffff;
padding: 0;
margin: 0;
}
#txt{
	color: white;
}