#verano {
    background-color: #000;
    text-align: center;
    color: white;
    max-width: 100%;
    font-family: 'Coco Gothic';
    font-size: 2em;
    padding-top: 5px;
    letter-spacing: 4px;
}

#verano:hover {
        opacity: 0.8;
}
